/* Try different box model properties below */
.pages__page {
  border: 2px inline #000000;
  border-radius: 4px;
  background: #fff;
  margin-left: 5px;
  padding: 5px;
  height: 40px;
}
.country {
  border: 1px groove gray;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
