/* Write your media queries and flexbox CSS below */

@media (min-width: 480px) {
  .site-header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .site-header__navItem {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-header__logo {
    margin-right: 20px;
  }
  .site-header__nav {
    flex: 1;
  }
  .site-header__checkout {
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .site-header__nav {
    justify-content: center;
  }
  .site-header__checkout {
    margin-left: auto;
  }
}
